.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.answer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
  border-radius: 8px;
  width: 590px;   /* fixed width */
  height: 80px;  /* fixed height */
  overflow: auto; /* adds scroll if content overflows */
  margin: 10px; /* optional: adds margin around the block */
}

.answer-block h3 {
  margin: 5px;
}

.answer-block p {
  margin: 5px;
}

.unselected-word-block {
  background-color: lightgrey;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  transition: background-color 0.3s;

  width: 100px; /* Fixed width */
  height: 50px; /* Fixed height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.unselected-word-block:hover {
  background-color: rgb(187, 187, 187); /* Slightly darker grey on hover */
  cursor: pointer; /* Change cursor to indicate interactiveness */
}

.selected-word-block {
  background-color: grey;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;

  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10px; /* Size of the dot */
  width: 10px; /* Size of the dot */
  background-color: #000000; /* Color of the dot */
  border-radius: 50%; /* Makes the shape circular */
  display: inline-block; /* Allows the dot to sit in line with other elements */
  margin-left: 5px; /* Optional: space between dots if you have multiple */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}